#div1{
    background-image: url(../img/pattern.png);
    background-color: #44a5e9;
    background-size: contain;
    padding-top: 45px;                 
}

#logo{

    width: 150px;
}

body{
    margin: 0px;
}

#fontedata{
    color: grey;
}

h1{
    margin-bottom: 3px;

}

#data{
    font-size: 14px;
}

#fotoditim{
    margin-top: 25px;
}

#dirittifoto{
    font-size: 14px;
}

#evidenziato{
    background-color: yellow;
}

ul{
    margin-top: 50px;
    margin-bottom: 50px;
}